* {
  box-sizing: border-box;
};

body {
  margin: 0;
  font-family: 'Dancing Script', cursive;
  
};
html{
scroll-behavior: smooth;
};
p{
  color: rgb(138, 76, 138);
}
//btn.//
a
{
  transition: 300ms ease;
};
nav, .nav-links{
  display: flex;
}
nav{
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');
@import "./components/header.scss";
@import "./pages/register.scss";
@import "./components/navigation.scss";